*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding:0;
}

#header{
    line-height: 24px;
    font-size: 13px;
    height: 48px;
    text-align: right;
    margin: 1% 4% 0 0;
    flex:auto;

}

#header > a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.87);
    cursor:pointer;
    padding-left:15px;
}

.goToIndex{
   float:left;
   top: 0%;
   margin: 2px 0 0 1%;
}

.hrLine{
    border-bottom: 1px solid #ebebeb;

}

.advancedSearchText{
   text-align: left;
   font-family: Arial, sans-serif;
   color:#d93025;
   font-size: 20px;
   margin-left:3%;
   padding: 1%;
   font-style: normal;
   font-weight: 400;
}

#header > a:hover{
    text-decoration-color:  rgba(0, 0, 0, 0.87);
    text-decoration-line: underline;
}

#mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;

 }

 .containerLogo{
     flex:0;
 }

 .containerSearch{
     flex:3;
     margin-top: 2%;
 }

.containerForm{
    margin: 0 auto;
    max-width: 584px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    min-width: 200px;
}

.containerForm:hover{
    background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223, 225, 229, 0);
}

.contInput{
    width:100%;
}

.contInput > form{
   min-width: 200px;
   max-width: 584px;
}

.contInput > form > input{
    height: 34px;
    margin:18px 4px 0 4px ;

}

.contInput > form > .mainSearch{
    height: 34px;
    width: 90%;
    border:none;
    margin: 4px 0 11px 4%;
    outline: none;
    
}

/* Just for image search page */

.containerSearchImage{
    flex:3;
    margin-top: 1%;
}


.btn{
     color: rgb(60, 64, 67);
     border-radius: 4px;
     background-color: #f8f9fa;
     border:none;
     cursor:pointer;
     padding: 0 16px 0 16px;
     font-size: 14px;
}

.btn:hover{
    border: 1px solid #dadce0;
}

.contInfoLang{
    margin: 4% auto;
    font-size:13px;

}

#footer{
    background: #f2f2f2;
    height: 46px;
    display:flex;
    justify-content:space-between;
    line-height: 46px;
}

#footer > div > a{
    text-decoration: none;
    color: #70757a;
    font-size: 14px;
    padding: 14px;
}

#footer > div > a:hover {
    text-decoration: underline;
}

.wrapFooter{
    padding: 0 20px;
}

.textImages{
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    display: block;
    margin-top:-1%;
}

.containerTextToHeaderDiv{
display:flex;
}

.textToHeaderDiv{
    text-align: left;
    margin-left: 4%;
    margin-top:7px;
    color: #333;
    flex:1;
}

.textToHeaderDivLeft{
    text-align: left;
    margin-top:7px;
    margin-left: 8%;
    color: #333;
    flex:1 auto;
}

.textoHeaderLeft{
    font-size: 13px;
    font-weight: 700;
    color: #777;
}

#advancedSearchContainer{
    display:flex;
    flex-direction: row;
    max-width: 85vw;
    height: 100vh;
    padding: 20px 0 0 30px;
    margin-left: 2%;
}

.advancedSearchTextLeft{
    text-align: left;
    font-size: 13px;
    line-height: 16px;
    margin-right: 2%;
}

.advancedSearchInputs{
flex:1;
}

.advancedSearchTextRight{
flex:1;
margin-left:1%;
}

.advancedMainSearch{
    height: 28px;
    width: 100%;
    margin: 4px 0 11px 0;
    border-top: 1px solid #c0c0c0;
    border: 1px solid #d9d9d9;

}

.advancedLabel{
    height: 42px;
    line-height: 38px;
}

.advancedLabelRight{
    height: 42px;
    line-height: 32px;
    color: #555;
    font-size: 11px;
    float:left;
    text-align: left;
    width: 100%;

}

.advancedLabelRight > label{
    width: 100%;
    
}